@model BlogSite.Models.Message
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Edit your message";
    string id = "d3bd0135-480e-4f78-af92-74af83b6e6a3";
    bool IsAdmin = id == UserManager.GetUserId(User);
    string name = User.Identity.Name;
}
@if (IsAdmin || name == Model.Author)
{
    <div class="container-fluid form_container">
        <h1>Edit your message</h1>

        <hr />
        <div class="row">
            <div class="col-md-4 form_width">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display:none">
                        <label asp-for="Author" class="control-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display:none">
                        <label asp-for="Time_Sent" class="control-label"></label>
                        <input asp-for="Time_Sent" class="form-control" />
                        <span asp-validation-for="Time_Sent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message_Text" class="control-label"></label>
                        <input asp-for="Message_Text" class="form-control" />
                        <span asp-validation-for="Message_Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn btn-danger" asp-action="Index">Cancel</a>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <h1>You are not the original poster of this comment!!</h1>
        <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Go Back</a>
    </div>
}