@model IEnumerable<BlogSite.Models.Message>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
    string id = "d3bd0135-480e-4f78-af92-74af83b6e6a3";
    bool IsAdmin = id == UserManager.GetUserId(User);
    string name = User.Identity.Name;
}
<div class="container-fluid msg_index_container">

    <div class="msg_cont">
        <h1>Your messages</h1>
        <a a asp-action="Create" class="btn btn-primary btn_contact">Contact me now!</a>
        @foreach (var item in Model)
        {
            if (IsAdmin || name == item.Author)
            {
                <div class="card message_card">
                    <div class="card-body">
                        <h5 class="card-title text-left">From @item.Author</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Sent at @item.Time_Sent</h6>
                        <p class="card-text">@item.Subject</p>
                        <a asp-route-id=@item.Id asp-action="Details" class="btn btn-primary card-link">View</a>
                        <a asp-route-id=@item.Id asp-action="Edit" class="btn btn-primary card-link">Edit</a>
                        <a asp-route-id=@item.Id asp-action="Delete" class="btn btn-danger card-link">Delete</a>
                    </div>
                </div>
            }

        }

    </div>
</div>